<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
    <title>Runners</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>

    <body class="w3-light-grey">

        <!-- Top container -->
        <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
            <span class="w3-bar-item w3-right">Logo</span>
        </div>

        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
            <div class="w3-bar-block">
                <a href="/rankings" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Rankings</a>
                <a href="/runners" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Runners</a>
                <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Traffic</a>
                <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Geo</a>
                <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Orders</a>
            </div>
        </nav>


        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:300px;margin-top:43px;">
            <div class="w3-container">
                <label>
                    Name:
                    <input id="nameEntry" type="text">
                </label>

                <input type="button" onclick="getRunner()" value="Submit">
            </div>

            <div class="w3-container">
                <header id="runnerName"></header>
                <header id="runnerRank">Ranking : </header>

            </div>

            <div id="resultsTable" class="w3-table w3-center w3-container" style="max-width: 700px">

            </div>
        </div>

        <script>
            // Get the Sidebar
            const sidebar = document.getElementById("mySidebar");

            // Get the DIV with overlay effect
            const overlayBg = document.getElementById("myOverlay");

            // Toggle between showing and hiding the sidebar, and add overlay effect
            function w3_open() {
                if (sidebar.style.display === 'block') {
                    sidebar.style.display = 'none';
                    overlayBg.style.display = "none";
                } else {
                    sidebar.style.display = 'block';
                    overlayBg.style.display = "block";
                }
            }

            // Close the sidebar with the close button
            function w3_close() {
                sidebar.style.display = "none";
                overlayBg.style.display = "none";
            }

            getRunner = function () {
                const xmlHttpRequest = new XMLHttpRequest();

                let table = "<table class=\"w3-table w3-striped w3-white\">" +
                    "<tr><td>Meet</td><td>Place</td></tr>";

                xmlHttpRequest.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        const response = JSON.parse(xmlHttpRequest.responseText);
                        if (response["lastName"] == null) {
                            document.getElementById("runnerName").innerText = "No runner by that name found.";
                        } else {

                            document.getElementById("runnerName").innerText = response["fullName"];
                            document.getElementById("runnerRank").innerText = "Ranking : " + Math.round(response["ranking"]).toString(10);
                            for (let i = 0; i < response["results"].length; i++) {
                                const item = "<tr><td style='width: 90%'>" + response["results"][i]["meetName"] + "</td>" +
                                    "<td style='width: 10%;'>" + response["results"][i]["place"] + "</td></tr>";
                                table += item;
                            }
                            table += "</table>";
                            document.getElementById("resultsTable").innerHTML = table;
                        }
                    }
                };

                const name = document.getElementById("nameEntry")["value"];

                const url = "http://localhost:8080/api/runners?name=" + name;

                xmlHttpRequest.open("GET", url, true);
                xmlHttpRequest.send();
            };

        </script>

    </body>
</html>